/*#prime {
  display: none;
  display: block;
  width: 18%;
  position:fixed;
  } */
  
  @media (max-width: 1200px) {
  #prime {
    display: none;
    margin-top: 0%; /* era 25% andrebbe fatto dal div, non dalla cella */
    margin-left: 0%;
    width: 1%; /* era 18% */   
    height: 1%;   
    /*position:fixed;*/ 
    }
  }
  
  /* #amz{
    display: none; 
    display: block;
    width: 18%;
    position: fixed;  
  } */
  
  @media (max-width: 1200px)  {
  #amz{
   display: none;
   margin-top: 0%; /* andrebbe fatto dal div, non dalla cella */
   width: 1%; /*era 18% */
   /* height: 70%; */
   height: 1%;
   margin-left: 0%; /* era 82% */ 
   }
  }

input
    {  
    height: 30px;
    width:52%;
    border-radius: 5px;
    background-color: #c6d1e0f1;
    color: #000078;     
    font-family :cursive;                     
    font-size: 15px;     
    }  
    @media (max-width: 1200px) and (orientation:portrait) {
    input
    {
    margin-top: 15px;
    height: 50px;
    width: 55%;
    border-radius: 5px;
    background-color: #c6d1e0f1;
    color: #000078;     
    font-family: 'Times New Roman', Times, serif;                     
    font-size: 25px;     
    } 
  } 
  @media (max-width: 1200px) and (orientation:landscape) {
    input
    {
    margin-top: 15px;  
    height: 30px;
    width: 55%;
    border-radius: 5px;
    background-color: #c6d1e0f1;
    color: #000078;     
    font-family: 'Times New Roman', Times, serif;                    
    font-size: 17px;     
    } 
  }   
#learn {
      display:block;
      margin-left: 100px;
      margin-top: 10px;
      text-align:center;
      height: 500px;                        
      overflow-x:scroll;      
      white-space: nowrap;       
    }
    @media (max-width: 1200px) and (orientation:portrait) {
      #learn {
      display:block;         
      margin-top: 1px; /* 20px */
      margin-left: 9%;   /* 0 */   
      text-align:center;
      height: 60%; /*auto; */ 
      overflow: scroll;
      white-space:normal;      
      /*overflow-y: scroll;                        
      overflow-x:scroll;
      white-space: nowrap; */          
    }
    }
    @media (max-width: 1200px) and (orientation:landscape) {
      #learn {
      /*display:block;*/  
      content: '';    
      margin-top: -25px;
      text-align:center;      
      overflow: scroll;                        
      /*overflow-x:scroll;
      white-space: nowrap;*/          
    }
    }    
    #engl {
      margin-left: 100px;
    }
    @media (max-width: 1200px) and (orientation:landscape) {
      #engl {      
      margin-left: 100px;
    } 
    }
    #totale {
      /*<center> <br><img src="img/NineteenOk.png" /> </center> */
      display:block;
      margin:0px auto;
      margin-top: 10px;
      text-align:center;
      width: 700px;
      height: 500px; 
      border-radius:5px;      
      background: url("img/NineteenOk3.png") no-repeat; 

    }
    @media (max-width: 1200px) {
      #totale {
      display:block;
      margin:0px auto;
      margin-top: 100px;
      text-align:center;
      width: 700px;
      height: 1300px; 
      border-radius:5px;      
      background: url("img/NineteenSmart2.png") no-repeat;      
      }
    }
    @media (max-width: 1200px) { /* trinacria non più in funzione, disatt su htm */
      #finale {
      display:block;
      margin:0px auto;
      margin-top: 100px;
      text-align:center;
      width: 60px;
      height: 60px; 
      background: url("img/prova3.gif") no-repeat;
      }
    }
    #overlay {
    display: none;
    /*z-index: 2;*/
    background: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 100%; /*100%;*/        
    top: 0px;
    left: 0px;
    text-align: center;
    margin:0 auto;
    }
   
    #finestra { /* solo nineteen */
    display: none;
    position:fixed;
    /*z-index: 0; */                                  
    margin-top: 30px; 
    margin-left: -2%; 
    border-radius:5px;    
    font-family :cursive;
    }  
    @media (max-width: 1200px) and (orientation:portrait) {     
    #finestra { /* solo nineteen */
      display: none;
      position:fixed;
      /*z-index: 0; */                                  
      margin-top: 20px; 
      margin-left: 1%; 
      border-radius:5px;    
      font-family :cursive;
      }
    }     
    @media (max-width: 1200px) and (orientation:landscape) {
    #finestra { /* solo nineteen */
      display: none;
      position:fixed;
      /*z-index: 0; */                                  
      margin-top: 3px; 
      margin-left: 2%; 
      border-radius:5px;    
      font-family :cursive;
      } 
    }   
    #regole {    
    width: 200px; 
    background-color: #C6D9F1;
    }
    @media (max-width: 1200px) and (orientation:portrait) {
      #regole {
        margin-top: -20px;
        /*width: 200px; 
        height: 15px;
        font-size: 8px; */
        background-color: #C6D9F1;
        }
      }
    @media (max-width: 1200px) and (orientation:landscape) {
    #regole {
      display: none; /* TUTTO IL RESTO NON SI VEDE */
      margin-top: 10px; /*-40px;*/
      width: 200px; 
      height: 25px; /*15px;*/ 
      font-size: 8px;
      background-color: #C6D9F1;
      }
    }
    #myImage {       
      background: url("img/Regole.jpg") no-repeat;
      border: 1px solid #000078;
      }
    @media (max-width: 1200px) and (orientation:landscape) {
       #myImage { 
         margin-top: 30px; /*-20px;*/
         width: 700px;
         height: auto;                       
         }
      }  
      @media (max-width: 1200px) and (orientation:portrait) {
        #myImage {                    
          width: 900px; 
          height: auto;           
          /*width: 459px; 
          height: 984px; */
          }
       }          

#social{              
margin-top: -40px;
/*margin-left: 43.5%;  rimetti nel caso*/                    
}
@media (max-width: 1200px) and (orientation:landscape) {
#social{              
margin-top: -100px; 
/*margin-left: 27%; */               
margin-left: 0%;
}
}
@media (max-width: 1200px)and (orientation:portrait) {
#social{              
margin-top: 50px; 
/*margin-left: 26.5%;*/
margin-left: 0%;  
}
}  
#fb {  
  float:center;    
  margin-top: -3px;
  content: url("img/fbIcon40.png");     
  display: block;
}
#inst {   
  float:center;    
  /*content: url("img/messengerIco35.png");*/
  content: url("img/IstIcon40.png");
}
#tik {
  margin-top: -3px;
  float:center;     
  /*content: url("img/hangIco35_ok.png");*/
  content: url("img/TikIcon40.png");
}
#tlg { 
  margin-top: -4px;
  float:center;      
  content: url("img/telegramIco32.png");
}
@media (max-width: 1200px) {
  #fb {  
    margin-top: -3px;
    float:center;
    content: url("img/fbIcon60_G.png");    
  }
}
@media (max-width: 1200px) {    
  #inst {          
    float:center;
    margin-left: 20px;
    /*content: url("img/messeIco50_G.png"); */
    content: url("img/IstIcon60_G.png");
  }
}
@media (max-width: 1200px) { 
  #tik {
    margin-top: -5px;
    float:center;
    margin-left: 20px;
    /*content: url("img/hangIco50_G.png"); */
    content: url("img/TikIcon60_G.png");
  }
}
@media (max-width: 1200px) { 
  #tlg {
    margin-top: -2px;
    float:center;
    margin-left: 20px;
    content: url("img/telegIco50_G.png");
  }
}
#fot {              
  color : #36a232; 
  font-family: cursive;
  font-size: 13px;  
}
.fot1{  
  margin-left: 5px;
  /*margin-left: 50px;*/
}
@media (max-width: 1200px) { 
  #fot {    
    margin-top: 5px;
    color :#36a232; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }
} 
@media (max-width: 1200px) and (orientation:portrait){ 
.fot1 {
  margin-left: 0px;
 }
}
@media (max-width: 1200px) and (orientation:landscape) { 
  .fot1 {
    margin-left: 5px;
   }
  }