input
    {
    height: 40px;
    width: 100px;
    border-radius: 7px;
    background-color: #dddddd;
    color: #000000;
    text-align:center;
    margin-top: 5px;        
    } 
#logos {
  width : 138px; 
  height : 31px;    
  background: url("img/estraz3.png") no-repeat;  
}
#retroround{ 
  content: url("img/retrok.png");
  width : 71px; 
  height: 107px; 
  margin-left: 44.5%; 
  border-radius: 7px;  
}
@media (max-width: 1200px) and (orientation:portrait) {
  #retroround{
  width : 71px; 
  height: 107px; 
  margin-left: 38%; 
  border-radius: 7px;
}
}
@media (max-width: 1200px) and (orientation:landscape) {
  #retroround{
  width : 71px; 
  height: 107px; 
  margin-left: 23.5%; 
  border-radius: 7px;
}
}
#round{  
  content: url("img/zero.jpg");
  width : 69px; 
  height : 106px; 
  margin-top: 0px; 
  margin-left: 37%;  
}
@media (max-width: 1200px) and (orientation:landscape) {
  #round{
  width : 69px; 
  height : 106px; 
  margin-top: 0px; 
  margin-left: 15%;
}
}
@media (max-width: 1200px) and (orientation:portrait) {
  #round{
  width : 69px; 
  height : 106px; 
  margin-top: 0px; 
  margin-left: 20%;
}
}
#overlay {
    display: none;
    z-index: 2;
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;        
    top: 0px;
    left: 0px;
    text-align: center;
    margin:0 auto;
    }

@media (max-width: 1200px) {
#overlay {
    display: none;
    z-index: 0;
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;        
    top: 0px;
    left: 0px;
    text-align: center;
    margin:0 auto;
    }	
}	
	
#finestra {
    display: none;
    position:fixed;
    /*z-index: 0; */                                  
    margin-top: 100px; 
    margin-left: 29%; 
    border-radius:5px;    
    font-family :cursive;
    }  
	
@media (max-width: 1200px) {	
#finestra {
    display: none;
    position:fixed;
    /*z-index: 0; */                                  
    margin-top: 15px; 
    margin-left: 22%; 
    border-radius:5px;    
    font-family :cursive;
    }	
}

.caption {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 30px;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.caption img {
    float: left;
    margin: 0;
    padding: 0;
    background: rgb(66, 238, 24);
    border: none;
}
.caption span {
    float: left;
    /*margin: 0; */
    padding-top: 20%;
    /*margin-top: 50%; */
    /*padding: 50px;*/
    width: 100%;
    color: #38f032;
    background: #222; /* browser che non supportano rgba */
    background: rgba(0,0,0,0);
    position: absolute;
    left: 0;
    /*bottom: 0;*/
}
.caption span strong {
    font-weight: bold;
    font-size: 45px;
    /*text-transform:capitalize; */
    display: block;
    padding-bottom: 5px;
}
.retro {
  background: url("img/retrok.png") no-repeat;       
  width : 71px; 
  height : 107px;  
  border-radius: 7px;      
}
.retros {
  content: url("img/retrok.png") ;
  width : 71px; 
  height : 107px;  
  border-radius: 7px; 
}
.bodysfo {
  background: url("img/sfondoOk.jpg") no-repeat;
}
@media (max-width: 1200px) {
.bodysfo {
  resize: both;
  background: url("img/sfondo_prec.jpg") repeat;
}
}
/*@media (max-width: 1200px) and (orientation:landscape) {
  .bodysfo {
    resize: both;
    background: url("img/sfondoOk.jpg") repeat;
  }
}*/
.plname {
  font-family :cursive;
  color:#000078;
}
#mazzos {
  width: 77px; 
  height: 112px; 
  content: url("img/retrokM.png");   
  border-radius: 7px;
}
.green {
  height: 100%; 
  width:  100%; 
  background: url("img/panno-verde2.jpg") no-repeat;  
  border-radius: 15px;
}
@media (max-width: 1200px) and (orientation:portrait) {
  .green {
    height: 100%; 
    width:  100%; 
    background: url("img/panno-verde-portrait.jpg") no-repeat;    
    border-radius: 15px;
  }
}  
#endwind {
  background-color: #C6D9F1;
  width: 200px;    
  font-family: 'Times New Roman', Times, serif; 
  font-style: oblique; 
  font-size: 20px;
}
#thewin {
  content: url("img/win_you.png");
}
#youestraz {
  border: 0;
  width: 80px;
  height: 110px;
  border-radius: 7px;
  content: url("img/retrok.png");
}